.field-container {
  height: auto;
  width: 100%;
  background-color: #232b2b;
  border: none;
  /* border: 1px solid #fff; */
}
.field-container .heading {
  background-color: #232b2b;
  /* color: #fff; */
}

.field-container .field {
  height: 3rem;
  width: 100%;
  background-color: #232b2b;
  margin: 0.5rem 0.2rem;
  border: 1px solid #808080;
  padding: 0.2rem;
  color: #fff;
}

.field-container .error {
  background-color: #232b2b;
  color: red;
  font-size: small;
  margin-left: 0.2rem;
}

.submit-container {
  text-align: center;
  padding-top: 1rem;
}
.field-container .submit {
  width: 10%;
  height: 2.5rem;
  background-color: #0e63be;
  padding: 0.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
}

::placeholder {
  color: #fff;
  opacity: 1;
}
